@model List<StackOverFlow.ViewModels.QuestionModel>

@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <br />
            <h1 style="font-size: 2.2rem;text-align:center; padding-top:5px;">Learn, Shared, Build!</h1>
            <h3 style=" font-size: 1.5rem; text-align:center;">Each month, over 50 million developers come to Stack Overflow to learn, share their knowledge, and build their careers.</h3>
            <p class="lead" style=" font-size: 1rem; text-align:center;">Join the world's largest developer community.</p>
            <br />
        </div>
    </div>
</div> 
<div class="row">
    <div class="col-sm-12">
        <table class="table">
            @foreach (var item in Model)
            {
                Html.RenderPartial("Question", item);
            }
        </table>
        @if (Session["CurrentUserName"] != null)
        {
            <a href="/questions/create" class="btn btn-primary">Add Question</a>
        }
    </div>
</div>